* {
	/*outline: 1px solid black;*/ /* Thinkful reccomendation temporarily to see outlines*/
}

#top-nav-bar
{
background-color:#ffffff; /*white*/
padding-right:20px;
padding: 3px;
text-align:right;
border-bottom:2px #111111 solid; /*black*/
margin-bottom:150px;
}

.each-top-link
{
display:inline-block;
margin:10px;
font-size: 16px;
border:20px;
font-family: 'Lato', sans-serif;
color:#111111; /*black*/
vertical-align: middle;
}

.giimap-logo {
width:75px; /*can't get this to work*/
}

.text-header-links
{
font-weight:bold;
}

#signin {
	background-color:#0074d9; /*blue*/
	padding:7px;
	color:#ffffff; /*white*/
	border-radius:3px;
}

:link {
	color:#111111; /*black*/
	text-decoration:none;
}

a.each-top-link:hover 
	{color:#0074d9; /*blue*/}

body {
	background-color:#aaaaaa; /*gray*/
}

.front-picture {
	display:inline-block;
	margin-left:12%;
}

.landing-page-text { 
	display:inline-block;
	margin-left:50px;
	height:350px;
	vertical-align: top;
}

.headline {
padding-bottom:18px;
font-size:60px;
font-family: 'Lato', sans-serif; /*change font*/
color:#111111; /*black*/
text-transform: uppercase;
margin-top:47px;
}

.subhead {
padding-bottom: 18px;
font-size:19px;
font-family: 'Lato', sans-serif;
color:black;
}

.learn-more {
	margin-left: 20px;
	background-color:#f4f4f4;
	padding:10px;
	color:#111111;
	font-size:22px;
	font-family: 'Droid Sans', sans-serif;
	display:inline-block;
	border-radius: 3px;
	border:2px #111111 solid;
	font-weight:bolder;
	text-align:center;
}













/* CSS RESET BELOW http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}